Simulator 1.x/simulator_flow.json
[
    {
        "id": "9170cbc1.d91068",
        "type": "subflow",
        "name": "Sub PV 1.9",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "78a43f8a.9a01a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 40,
                "wires": [
                    {
                        "id": "b4e5aebc.76714",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1160,
                "y": 380,
                "wires": [
                    {
                        "id": "291d4600.4ee55a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "outputLabels": [
            "openWB",
            "schnelle Regelwerte"
        ],
        "status": {
            "x": 1000,
            "y": 40,
            "wires": [
                {
                    "id": "9489d13.082093",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "291d4600.4ee55a",
        "type": "change",
        "z": "9170cbc1.d91068",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pv",
                "pt": "flow",
                "to": "$min([(payload+$flowContext(\"PVNorm\"))*-1,0])",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pv",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/pv/1/W",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 380,
        "wires": [
            [
                "4a74669e.a8d418"
            ]
        ]
    },
    {
        "id": "7e3268d9.be5fe8",
        "type": "smooth",
        "z": "9170cbc1.d91068",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "291d4600.4ee55a"
            ]
        ]
    },
    {
        "id": "7abfa85b.a69e38",
        "type": "random",
        "z": "9170cbc1.d91068",
        "name": "+/- 100W",
        "low": "-100",
        "high": "100",
        "inte": "false",
        "property": "payload",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "7e3268d9.be5fe8"
            ]
        ]
    },
    {
        "id": "4a74669e.a8d418",
        "type": "interval-length",
        "z": "9170cbc1.d91068",
        "format": "mills",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "timeInterval",
        "timestampField": "previousTimestamp",
        "repeatTimeout": false,
        "name": "Zeit zwischen den Nachrichten messen",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "6c297cba.592a94"
            ],
            []
        ]
    },
    {
        "id": "6c297cba.592a94",
        "type": "change",
        "z": "9170cbc1.d91068",
        "name": "Energie in Wh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext(\"pv\")*timeInterval/1000/3600*(-1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 440,
        "wires": [
            [
                "de55b78f.520118"
            ]
        ],
        "info": "$number(payload)*(timeInterval/1000)/3600/1000"
    },
    {
        "id": "75e4eca7.fde674",
        "type": "inject",
        "z": "9170cbc1.d91068",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "7abfa85b.a69e38"
            ]
        ]
    },
    {
        "id": "de55b78f.520118",
        "type": "change",
        "z": "9170cbc1.d91068",
        "name": "Zähler aktualisieren",
        "rules": [
            {
                "t": "set",
                "p": "PV_Zähler",
                "pt": "flow",
                "to": "payload+$flowContext(\"PV_Zähler\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PV_Zähler",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "34a5c73e.f4ee28",
        "type": "inject",
        "z": "9170cbc1.d91068",
        "name": "Publish Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "b4e5aebc.76714"
            ]
        ]
    },
    {
        "id": "b4e5aebc.76714",
        "type": "function",
        "z": "9170cbc1.d91068",
        "name": "Senden der Flow-Daten",
        "func": "actualPower = parseInt(flow.get(\"pv\").toFixed(0));\nactualPowerkW = actualPower / 1000;\n\nstatusColor = \"green\";\nstatusShape = \"dot\";\nif(actualPower > -100)\n    statusColor= \"red\";\n\nnode.status({\n        fill: statusColor,\n        shape: statusShape,\n        text:actualPowerkW.toFixed(1)+\"kW\"\n    });\n\n\nreturn [\n    [\n        {\n            topic: \"openWB/set/pv/1/W\",\n            payload: actualPower\n        },\n        {\n            topic: \"openWB/set/pv/1/WhCounter\",\n            payload: parseInt(flow.get(\"PV_Zähler\").toFixed(0))\n        }\n    ]\n]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nnode.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"starting...\"\n    });\n",
        "finalize": "",
        "x": 370,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9489d13.082093",
        "type": "status",
        "z": "9170cbc1.d91068",
        "name": "",
        "scope": [
            "b4e5aebc.76714"
        ],
        "x": 830,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "78a43f8a.9a01a",
        "type": "switch",
        "z": "9170cbc1.d91068",
        "name": "Split Topics",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\/W$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "8b7827f5.9e02d8"
            ]
        ],
        "outputLabels": [
            "Soll-Leistung"
        ]
    },
    {
        "id": "8b7827f5.9e02d8",
        "type": "change",
        "z": "9170cbc1.d91068",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "PVNorm",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9504e6ce.1c0a08",
        "type": "inject",
        "z": "9170cbc1.d91068",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "3d5f5f83.be6ff",
                "4612a025.91d85"
            ]
        ]
    },
    {
        "id": "692620ef.4cb77",
        "type": "change",
        "z": "9170cbc1.d91068",
        "name": "Zähler initialisieren",
        "rules": [
            {
                "t": "set",
                "p": "PV_Zähler",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3d5f5f83.be6ff",
        "type": "switch",
        "z": "9170cbc1.d91068",
        "name": "Zähler gesetzt?",
        "property": "PV_Zähler",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "692620ef.4cb77"
            ]
        ]
    },
    {
        "id": "4612a025.91d85",
        "type": "change",
        "z": "9170cbc1.d91068",
        "name": "Init flow context",
        "rules": [
            {
                "t": "set",
                "p": "pv",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "PVNorm",
                "pt": "flow",
                "to": "1500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c08766e3.967038",
        "type": "subflow",
        "name": "Sub BAT 1.9",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 200,
                "wires": [
                    {
                        "id": "6709fae3.7ceaa4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 40,
                "wires": [
                    {
                        "id": "d1daa8e3.15a8d8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1360,
                "y": 560,
                "wires": [
                    {
                        "id": "bb6de6be.6420c8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1120,
                "y": 900,
                "wires": [
                    {
                        "id": "c4bd62f4.fbd8a",
                        "port": 0
                    },
                    {
                        "id": "4b28b88d.c1c218",
                        "port": 0
                    },
                    {
                        "id": "75d83bca.035694",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "outputLabels": [
            "openWB",
            "schnelle Regelwerte",
            "Chart"
        ],
        "status": {
            "x": 880,
            "y": 40,
            "wires": [
                {
                    "id": "2f671d90.120892",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "3053c097.0bb14",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxPower",
                "pt": "flow",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "845973e4.abf78",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxCapacity",
                "pt": "flow",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9221784c.c500b8",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "evu",
                "pt": "flow",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6709fae3.7ceaa4",
        "type": "switch",
        "z": "c08766e3.967038",
        "name": "Split Topics",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\/%Soc",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/BatMaxPower",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/BatCapacity",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/evu/W$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "8fce24f6.3deb78"
            ],
            [
                "3053c097.0bb14"
            ],
            [
                "845973e4.abf78"
            ],
            [
                "9221784c.c500b8"
            ]
        ],
        "outputLabels": [
            "SoC",
            "Max. Power",
            "Kapazität",
            "EVU"
        ]
    },
    {
        "id": "8fce24f6.3deb78",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualCapacity",
                "pt": "flow",
                "to": "(payload/100)*$flowContext(\"maxCapacity\")\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2f671d90.120892",
        "type": "status",
        "z": "c08766e3.967038",
        "name": "",
        "scope": [
            "d1daa8e3.15a8d8"
        ],
        "x": 720,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d1daa8e3.15a8d8",
        "type": "function",
        "z": "c08766e3.967038",
        "name": "Senden der Flow-Daten",
        "func": "actualPower = parseInt(flow.get(\"bat\").toFixed(0));\nactualPowerkW = actualPower / 1000;\n\nmaxCapacity = flow.get(\"maxCapacity\");\nactualCapacity = flow.get(\"actualCapacity\");\nactualSoc = actualCapacity / maxCapacity * 100;\nactualSoc = parseInt(actualSoc.toFixed(0));\n\nstatusColor = \"yellow\";\nstatusShape = \"ring\";\nif(actualPower < 0)\n    statusColor = \"red\";\nif(actualPower > 0)\n    statusColor = \"green\";\nif(actualSoc > 0)\n    statusShape = \"dot\";\n\nnode.status({\n        fill:  statusColor,\n        shape: statusShape,\n        text:  actualPowerkW.toFixed(1)+\"kW \" + actualSoc + \"%\"\n    });\n\nreturn [\n    [\n        {\n            topic: \"openWB/set/houseBattery/WhImported\",\n            payload: parseFloat(flow.get(\"WhImported\").toFixed(3))\n        },\n        {\n            topic: \"openWB/set/houseBattery/WhExported\",\n            payload: parseFloat(flow.get(\"WhExported\").toFixed(3))\n        },\n        {\n            topic: \"openWB/set/houseBattery/W\",\n            payload: actualPower\n        },\n        {\n            topic: \"openWB/set/houseBattery/%Soc\",\n            payload: actualSoc\n        }\n    ]\n]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9a0668c9.dd3f28",
        "type": "inject",
        "z": "c08766e3.967038",
        "name": "Publish Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "d1daa8e3.15a8d8"
            ]
        ]
    },
    {
        "id": "de2df32c.03ffa",
        "type": "inject",
        "z": "c08766e3.967038",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "9ca45f9e.e7698",
                "445d44ab.20c31c",
                "c913a9f5.3743f8"
            ]
        ]
    },
    {
        "id": "8dcb8394.32a92",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "Zähler Bezug initialisieren",
        "rules": [
            {
                "t": "set",
                "p": "WhImported",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9ca45f9e.e7698",
        "type": "switch",
        "z": "c08766e3.967038",
        "name": "Zähler Bezug gesetzt?",
        "property": "WhImported",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "8dcb8394.32a92"
            ]
        ]
    },
    {
        "id": "445d44ab.20c31c",
        "type": "switch",
        "z": "c08766e3.967038",
        "name": "Zähler Einspeisung gesetzt?",
        "property": "WhExported",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 420,
        "wires": [
            [
                "77cedf5e.f7812"
            ]
        ]
    },
    {
        "id": "77cedf5e.f7812",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "Zähler Einspeisung initialisieren",
        "rules": [
            {
                "t": "set",
                "p": "WhExported",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c913a9f5.3743f8",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "Init flow context",
        "rules": [
            {
                "t": "set",
                "p": "bat",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "evu",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "maxPower",
                "pt": "flow",
                "to": "3300",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "maxCapacity",
                "pt": "flow",
                "to": "5000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "actualCapacity",
                "pt": "flow",
                "to": "2500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c4bd62f4.fbd8a",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "EVU",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "4b28b88d.c1c218",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "BAT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "da4c5cab.d935b",
        "type": "inject",
        "z": "c08766e3.967038",
        "name": "Clear chart on deploy",
        "props": [
            {
                "p": "payload",
                "v": "{\"data\":[]}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "{\"data\":[]}",
        "payloadType": "json",
        "x": 680,
        "y": 960,
        "wires": [
            [
                "75d83bca.035694"
            ]
        ]
    },
    {
        "id": "75d83bca.035694",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 916,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "cdf2ccc5.00061",
        "type": "function",
        "z": "c08766e3.967038",
        "name": "Map to Power Range",
        "func": "range = flow.get(\"maxPower\");\nactualCapacity = flow.get(\"actualCapacity\");\nmaxCapacity = flow.get(\"maxCapacity\");\n\nmsg.payload = msg.payload * (2*range) - range;\nif( actualCapacity == 0 ){\n    msg.payload = Math.max(msg.payload,0);\n} else if( actualCapacity == maxCapacity ){\n    msg.payload = Math.min(msg.payload,0);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 560,
        "wires": [
            [
                "4b28b88d.c1c218",
                "bb6de6be.6420c8"
            ]
        ]
    },
    {
        "id": "1f23934e.f34d2d",
        "type": "inject",
        "z": "c08766e3.967038",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "evu",
        "payloadType": "flow",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "c4bd62f4.fbd8a",
                "3771200d.bd303"
            ]
        ]
    },
    {
        "id": "2f06b9fc.801776",
        "type": "switch",
        "z": "c08766e3.967038",
        "name": "",
        "property": "bat",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 640,
        "wires": [
            [
                "e2181bc2.a02388"
            ],
            [
                "d31373d5.e481b"
            ]
        ]
    },
    {
        "id": "d889b9d1.808d38",
        "type": "interval-length",
        "z": "c08766e3.967038",
        "format": "mills",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "timeInterval",
        "timestampField": "previousTimestamp",
        "repeatTimeout": false,
        "name": "Zeit zwischen den Nachrichten messen",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "dbd0be58.e3ba4"
            ],
            []
        ]
    },
    {
        "id": "dbd0be58.e3ba4",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "Energie in Wh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timeInterval/1000/3600*$flowContext(\"bat\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 640,
        "wires": [
            [
                "2f06b9fc.801776",
                "18504f29.814f21"
            ]
        ],
        "info": "$number(payload)*(timeInterval/1000)/3600/1000"
    },
    {
        "id": "e2181bc2.a02388",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "Zähler Einspeisung aktualisieren",
        "rules": [
            {
                "t": "set",
                "p": "WhExported",
                "pt": "flow",
                "to": "payload*(-1)+$flowContext(\"WhExported\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "WhExported",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d31373d5.e481b",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "Zähler Bezug aktualisieren",
        "rules": [
            {
                "t": "set",
                "p": "WhImported",
                "pt": "flow",
                "to": "payload+$flowContext(\"WhImported\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "WhImported",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "3771200d.bd303",
        "type": "PID",
        "z": "c08766e3.967038",
        "name": "Leistungsregelung",
        "setpoint": "0",
        "pb": "11000",
        "ti": "6",
        "td": "0",
        "integral_default": "0.5",
        "smooth_factor": "0",
        "max_interval": "10",
        "enable": "1",
        "disabled_op": "0.5",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "cdf2ccc5.00061"
            ]
        ]
    },
    {
        "id": "bb6de6be.6420c8",
        "type": "change",
        "z": "c08766e3.967038",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/houseBattery/W",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "bat",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 560,
        "wires": [
            [
                "d889b9d1.808d38"
            ]
        ]
    },
    {
        "id": "18504f29.814f21",
        "type": "function",
        "z": "c08766e3.967038",
        "name": "actualCapacity aktualisieren (SoC)",
        "func": "actualCapacity = flow.get(\"actualCapacity\");\nmaxCapacity = flow.get(\"maxCapacity\");\n\nactualCapacity = Math.min(\n    Math.max(\n        actualCapacity + msg.payload,\n        0\n        ),\n        maxCapacity\n    );\n\nflow.set(\"actualCapacity\", actualCapacity);\nmsg.payload = actualCapacity;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e383a670.604ad8",
        "type": "subflow",
        "name": "Sub EVU 1.9",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 200,
                "wires": [
                    {
                        "id": "2c8a763b.f2054a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 550,
                "y": 40,
                "wires": [
                    {
                        "id": "27536234.6cc96e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1420,
                "y": 680,
                "wires": [
                    {
                        "id": "6b84c2bb.5896ac",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 850,
            "y": 40,
            "wires": [
                {
                    "id": "3d69da82.b21956",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "ebff3a91.9985f8",
        "type": "inject",
        "z": "e383a670.604ad8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "6ebb733a.ba435c"
            ]
        ]
    },
    {
        "id": "6ebb733a.ba435c",
        "type": "random",
        "z": "e383a670.604ad8",
        "name": "+/- 250W",
        "low": "-250",
        "high": "250",
        "inte": "false",
        "property": "payload",
        "x": 340,
        "y": 620,
        "wires": [
            [
                "87f31c05.e63b"
            ]
        ]
    },
    {
        "id": "87f31c05.e63b",
        "type": "smooth",
        "z": "e383a670.604ad8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 520,
        "y": 620,
        "wires": [
            [
                "9e2efeef.2f9ba"
            ]
        ]
    },
    {
        "id": "9e2efeef.2f9ba",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hausverbrauch",
                "pt": "flow",
                "to": "payload+$flowContext(\"HausverbrauchNorm\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "hausverbrauch",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 620,
        "wires": [
            [
                "9c3ecb0c.2a0b88"
            ]
        ]
    },
    {
        "id": "9c3ecb0c.2a0b88",
        "type": "function",
        "z": "e383a670.604ad8",
        "name": "Summe",
        "func": "node.status({\n        text: flow.get(\"leistungLP1\")+\"/\"+flow.get(\"leistungLP2\")+\"/\"+flow.get(\"leistungLP3\")+\"/\"+flow.get(\"hausverbrauch\")+\"/\"+flow.get(\"pv\")+\"/\"+flow.get(\"bat\")\n    });\n\n\nmsg.payload =  flow.get(\"leistungLP1\") + flow.get(\"leistungLP2\") + flow.get(\"leistungLP3\") + flow.get(\"hausverbrauch\") + flow.get(\"pv\") + flow.get(\"bat\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 680,
        "wires": [
            [
                "6b84c2bb.5896ac"
            ]
        ]
    },
    {
        "id": "aad81f51.e57f1",
        "type": "switch",
        "z": "e383a670.604ad8",
        "name": "Einspeisung/Bezug",
        "property": "evu",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 740,
        "wires": [
            [
                "9dcbd7eb.36ded8"
            ],
            [
                "3f0a99c.7f54d66"
            ]
        ]
    },
    {
        "id": "6b84c2bb.5896ac",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "evu",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/evu/W",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 680,
        "wires": [
            [
                "a91994d0.e13978"
            ]
        ]
    },
    {
        "id": "a91994d0.e13978",
        "type": "interval-length",
        "z": "e383a670.604ad8",
        "format": "mills",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "timeInterval",
        "timestampField": "previousTimestamp",
        "repeatTimeout": false,
        "name": "Zeit zwischen den Nachrichten messen",
        "x": 440,
        "y": 740,
        "wires": [
            [
                "c1b82206.8871f"
            ],
            []
        ]
    },
    {
        "id": "c1b82206.8871f",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "Energie in Wh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext(\"evu\")*timeInterval/1000/3600",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 740,
        "wires": [
            [
                "aad81f51.e57f1"
            ]
        ],
        "info": "$number(payload)*(timeInterval/1000)/3600/1000"
    },
    {
        "id": "9dcbd7eb.36ded8",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "Zähler Einspeisung aktualisieren",
        "rules": [
            {
                "t": "set",
                "p": "WhExported",
                "pt": "flow",
                "to": "payload*(-1)+$flowContext(\"WhExported\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "WhExported",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "3f0a99c.7f54d66",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "Zähler Bezug aktualisieren",
        "rules": [
            {
                "t": "set",
                "p": "WhImported",
                "pt": "flow",
                "to": "payload+$flowContext(\"WhImported\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "WhImported",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "3d69da82.b21956",
        "type": "status",
        "z": "e383a670.604ad8",
        "name": "",
        "scope": [
            "27536234.6cc96e"
        ],
        "x": 740,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "27536234.6cc96e",
        "type": "function",
        "z": "e383a670.604ad8",
        "name": "Senden der Flow-Daten",
        "func": "actualPower = parseInt(flow.get(\"evu\").toFixed(0));\nactualPowerkW = actualPower / 1000;\n\nstatusColor = \"green\";\nstatusShape = \"dot\";\nif(actualPower > 0)\n    statusColor= \"red\";\n\nnode.status({\n        fill: statusColor,\n        shape: statusShape,\n        text:actualPowerkW.toFixed(1)+\"kW\"\n    });\n\nreturn [\n    [\n        {\n            topic: \"openWB/set/evu/WhImported\",\n            payload: parseFloat(flow.get(\"WhImported\").toFixed(3))\n        },\n        {\n            topic: \"openWB/set/evu/WhExported\",\n            payload: parseFloat(flow.get(\"WhExported\").toFixed(3))\n        },\n        {\n            topic: \"openWB/set/evu/W\",\n            payload: parseInt(flow.get(\"evu\").toFixed(0))\n        }\n    ]\n]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "cc833fad.a690d",
        "type": "inject",
        "z": "e383a670.604ad8",
        "name": "Publish Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "27536234.6cc96e"
            ]
        ]
    },
    {
        "id": "b95b5aa5.5d8a68",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "leistungLP1",
                "pt": "flow",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cbefef3.c08371",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "leistungLP2",
                "pt": "flow",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "24af9b23.701b64",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "leistungLP3",
                "pt": "flow",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "15aab27c.61dc9e",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pv",
                "pt": "flow",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2c8a763b.f2054a",
        "type": "switch",
        "z": "e383a670.604ad8",
        "name": "Split Topics",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\/Hausverbrauch$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/lp\\/1\\/W$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/lp\\/2\\/W$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/lp\\/3\\/W$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/pv\\/1\\/W$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/house[Bb]attery\\/W",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "e0066b7c.ae3d88"
            ],
            [
                "b95b5aa5.5d8a68"
            ],
            [
                "cbefef3.c08371"
            ],
            [
                "24af9b23.701b64"
            ],
            [
                "15aab27c.61dc9e"
            ],
            [
                "3029cfb6.12ad8"
            ]
        ],
        "outputLabels": [
            "Hausverbrauch",
            "Ladepunkt 1",
            "Ladepunkt 2",
            "Ladepunkt 3",
            "PV 1",
            "Speicher"
        ]
    },
    {
        "id": "7424a49a.94d3dc",
        "type": "inject",
        "z": "e383a670.604ad8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "52f067f9.ad0db8",
                "54cfdfb9.d45f1",
                "2f650bff.662944"
            ]
        ]
    },
    {
        "id": "daab6b04.308068",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "Zähler Bezug initialisieren",
        "rules": [
            {
                "t": "set",
                "p": "WhImported",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "52f067f9.ad0db8",
        "type": "switch",
        "z": "e383a670.604ad8",
        "name": "Zähler Bezug gesetzt?",
        "property": "WhImported",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 440,
        "wires": [
            [
                "daab6b04.308068"
            ]
        ]
    },
    {
        "id": "54cfdfb9.d45f1",
        "type": "switch",
        "z": "e383a670.604ad8",
        "name": "Zähler Einspeisung gesetzt?",
        "property": "WhExported",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 480,
        "wires": [
            [
                "a8eba1a.5773e6"
            ]
        ]
    },
    {
        "id": "a8eba1a.5773e6",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "Zähler Einspeisung initialisieren",
        "rules": [
            {
                "t": "set",
                "p": "WhExported",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e0066b7c.ae3d88",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HausverbrauchNorm",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3029cfb6.12ad8",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "bat",
                "pt": "flow",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2f650bff.662944",
        "type": "change",
        "z": "e383a670.604ad8",
        "name": "Init flow context",
        "rules": [
            {
                "t": "set",
                "p": "leistungLP1",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "leistungLP2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "leistungLP3",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "evu",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "pv",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "bat",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "hausverbrauch",
                "pt": "flow",
                "to": "1000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "HausverbrauchNorm",
                "pt": "flow",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e79099a7.6c4608",
        "type": "subflow",
        "name": "Sub Ladepunkt 1.9",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 180,
                "wires": [
                    {
                        "id": "b66156de.bad598"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 40,
                "wires": [
                    {
                        "id": "345daf9d.8d7bd",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1120,
                "y": 660,
                "wires": [
                    {
                        "id": "34ab2f0e.1bfe6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "LPNumber",
                "type": "num",
                "value": "1",
                "ui": {
                    "icon": "font-awesome/fa-hashtag",
                    "label": {
                        "en-US": "LP-Nummer"
                    },
                    "type": "spinner",
                    "opts": {
                        "min": 1,
                        "max": 8
                    }
                }
            }
        ],
        "color": "#DDAA99",
        "inputLabels": [
            "Sollwerte"
        ],
        "outputLabels": [
            "openWB",
            "schnelle Regelwerte"
        ],
        "status": {
            "x": 900,
            "y": 40,
            "wires": [
                {
                    "id": "8b94f223.87017",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "dec97f83.2c9f4",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Lp_Sollstrom",
                "pt": "flow",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "663df72f.bdb968",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Lp_Phasen",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "bf64560f.61a128",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Lp_Stecker",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b66156de.bad598",
        "type": "switch",
        "z": "e79099a7.6c4608",
        "name": "Split Topics",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\/AConfigured$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/phasesInUse$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/plugStat$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/HzFrequenz$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "dec97f83.2c9f4"
            ],
            [
                "663df72f.bdb968"
            ],
            [
                "bf64560f.61a128"
            ],
            [
                "32457352.264ecc"
            ]
        ],
        "outputLabels": [
            "Sollstrom",
            "Aktive Phasen",
            "Stecker-Status",
            "Soll-Netzfrequenz"
        ]
    },
    {
        "id": "4c5c688b.667d78",
        "type": "inject",
        "z": "e79099a7.6c4608",
        "name": "Publish Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "345daf9d.8d7bd"
            ]
        ]
    },
    {
        "id": "345daf9d.8d7bd",
        "type": "function",
        "z": "e79099a7.6c4608",
        "name": "Senden der Flow-Daten",
        "func": "LPNumber = env.get(\"LPNumber\");\n\nchargestat = 0;\nif( flow.get(\"Lp_Strom1\") > 0 || flow.get(\"Lp_Strom2\") > 0 || flow.get(\"Lp_Strom3\") > 0 ){\n    chargestat = 1;\n}\n\nstatusColor = \"red\";\nstatusShape = \"ring\";\nif (flow.get(\"Lp_Stecker\") == 1){\n    statusColor = \"green\"\n    if (chargestat == 1){\n        statusShape = \"dot\";\n    }\n}\n\nactualPower = parseInt(flow.get(\"Lp_Ladeleistung\").toFixed(0));\nactualPowerkW = actualPower / 1000;\nphasesInUse = flow.get(\"Lp_Phasen\");\n\nnode.status({\n        fill: statusColor,\n        shape: statusShape,\n        text:actualPowerkW.toFixed(1)+\"kW \"+phasesInUse+\"P\"\n    });\n\nreturn [\n    [\n        {\n            topic: \"openWB/set/lp/\" + LPNumber + \"/APhase1\",\n            payload: flow.get(\"Lp_Strom1\")\n        },\n        {\n            topic: \"openWB/set/lp/\" + LPNumber + \"/APhase2\",\n            payload: flow.get(\"Lp_Strom2\")\n        },\n        {\n            topic: \"openWB/set/lp/\" + LPNumber + \"/APhase3\",\n            payload: flow.get(\"Lp_Strom3\")\n        },\n        {\n            topic: \"openWB/set/lp/\" + LPNumber + \"/VPhase1\",\n            payload: flow.get(\"Lp_Spannung1\")\n        },\n        {\n            topic: \"openWB/set/lp/\" + LPNumber + \"/VPhase2\",\n            payload: flow.get(\"Lp_Spannung2\")\n        },\n        {\n            topic: \"openWB/set/lp/\" + LPNumber + \"/VPhase3\",\n            payload: flow.get(\"Lp_Spannung3\")\n        },\n        {\n            topic: \"openWB/set/lp/\" + LPNumber + \"/W\",\n            payload: actualPower\n        },\n        {\n            topic: \"openWB/set/lp/\" + LPNumber + \"/kWhCounter\",\n            payload: parseFloat(flow.get(\"Lp_Zähler\").toFixed(3))\n        },\n        {\n            topic: \"openWB/set/lp/\" + LPNumber + \"/plugStat\",\n            payload: flow.get(\"Lp_Stecker\")\n        },\n        {\n            topic: \"openWB/set/lp/\" + LPNumber + \"/chargeStat\",\n            payload: chargestat\n        },\n        {\n            topic: \"openWB/set/lp/\" + LPNumber + \"/HzFrequenz\",\n            payload: parseFloat(flow.get(\"Lp_Netzfrequenz\").toFixed(2))\n        }\n    ]\n]\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "679bc83f.ccca78",
        "type": "switch",
        "z": "e79099a7.6c4608",
        "name": "Zähler gesetzt?",
        "property": "Lp_Zähler",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "2aafbef3.a93192"
            ]
        ]
    },
    {
        "id": "2aafbef3.a93192",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "Zähler init",
        "rules": [
            {
                "t": "set",
                "p": "Lp_Zähler",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e786b355.7e3f6",
        "type": "inject",
        "z": "e79099a7.6c4608",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "679bc83f.ccca78",
                "ac8ba84a.5cad88"
            ]
        ]
    },
    {
        "id": "f0bcec7b.3a51f",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "Energie in Wh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext(\"Lp_Ladeleistung\")*timeInterval/1000/3600",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 720,
        "wires": [
            [
                "42bfceab.c8747"
            ]
        ],
        "info": "$number(payload)*(timeInterval/1000)/3600/1000"
    },
    {
        "id": "42bfceab.c8747",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "Zähler aktualisieren",
        "rules": [
            {
                "t": "set",
                "p": "Lp_Zähler",
                "pt": "flow",
                "to": "payload/1000+$flowContext(\"Lp_Zähler\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Lp_Zähler",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 720,
        "wires": [
            [
                "3d47f788.7e5508"
            ]
        ]
    },
    {
        "id": "34ab2f0e.1bfe6",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Lp_Ladeleistung",
                "pt": "flow",
                "to": "$flowContext(\"Lp_Spannung1\")*$flowContext(\"Lp_Strom1\")+$flowContext(\"Lp_Spannung2\")*$flowContext(\"Lp_Strom2\")+$flowContext(\"Lp_Spannung3\")*$flowContext(\"Lp_Strom3\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Lp_Ladeleistung",
                "tot": "flow"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "#",
                "fromt": "str",
                "to": "LPNumber",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 660,
        "wires": [
            [
                "9c9a70ca.f01d"
            ]
        ]
    },
    {
        "id": "81de19f0.13a878",
        "type": "inject",
        "z": "e79099a7.6c4608",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "Lp_Sollstrom",
        "payloadType": "flow",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "b027a8aa.c32c88"
            ]
        ]
    },
    {
        "id": "d66966c6.61ac08",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Lp_Spannung1",
                "pt": "flow",
                "to": "payload",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "Lp_Spannung2",
                "pt": "flow",
                "to": "payload",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "Lp_Spannung3",
                "pt": "flow",
                "to": "payload",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/lp/#/W",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 600,
        "wires": [
            [
                "34ab2f0e.1bfe6"
            ]
        ]
    },
    {
        "id": "53f58009.31b41",
        "type": "comment",
        "z": "e79099a7.6c4608",
        "name": "Spannungen",
        "info": "",
        "x": 150,
        "y": 600,
        "wires": []
    },
    {
        "id": "35d50f61.5d81d",
        "type": "comment",
        "z": "e79099a7.6c4608",
        "name": "Ströme",
        "info": "",
        "x": 130,
        "y": 540,
        "wires": []
    },
    {
        "id": "d0cb7f6e.06bab",
        "type": "comment",
        "z": "e79099a7.6c4608",
        "name": "Leistung",
        "info": "",
        "x": 140,
        "y": 660,
        "wires": []
    },
    {
        "id": "b027a8aa.c32c88",
        "type": "switch",
        "z": "e79099a7.6c4608",
        "name": "angesteckt?",
        "property": "Lp_Stecker",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "1d0d5cfc.a66963"
            ],
            [
                "ff5bd369.e37e2"
            ]
        ]
    },
    {
        "id": "1d0d5cfc.a66963",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "Sollstrom = 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 480,
        "wires": [
            [
                "ff5bd369.e37e2"
            ]
        ]
    },
    {
        "id": "ca09e8ce.7c8a28",
        "type": "comment",
        "z": "e79099a7.6c4608",
        "name": "Zählerstand",
        "info": "",
        "x": 150,
        "y": 720,
        "wires": []
    },
    {
        "id": "81a372ad.cdb6e",
        "type": "random",
        "z": "e79099a7.6c4608",
        "name": "230V +/-5V",
        "low": "225",
        "high": "235",
        "inte": "false",
        "property": "payload",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "68784f1.f7ad5b"
            ]
        ]
    },
    {
        "id": "ff5bd369.e37e2",
        "type": "smooth",
        "z": "e79099a7.6c4608",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "3",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 560,
        "y": 540,
        "wires": [
            [
                "5288148b.bab36c"
            ]
        ]
    },
    {
        "id": "68784f1.f7ad5b",
        "type": "smooth",
        "z": "e79099a7.6c4608",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 520,
        "y": 600,
        "wires": [
            [
                "d66966c6.61ac08"
            ]
        ]
    },
    {
        "id": "9c9a70ca.f01d",
        "type": "interval-length",
        "z": "e79099a7.6c4608",
        "format": "mills",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "timeInterval",
        "timestampField": "previousTimestamp",
        "repeatTimeout": false,
        "name": "Zeit zwischen den Nachrichten messen",
        "x": 460,
        "y": 720,
        "wires": [
            [
                "f0bcec7b.3a51f"
            ],
            []
        ]
    },
    {
        "id": "8b94f223.87017",
        "type": "status",
        "z": "e79099a7.6c4608",
        "name": "",
        "scope": [
            "345daf9d.8d7bd"
        ],
        "x": 780,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "5288148b.bab36c",
        "type": "function",
        "z": "e79099a7.6c4608",
        "name": "",
        "func": "phasesInUse = flow.get(\"Lp_Phasen\");\nlpNumber = env.get(\"LPNumber\");\n\nphaseCurrents = [0,0,0];\n\nswitch (lpNumber) {\n    case 1:\n        phaseCurrents[0] = msg.payload;\n        if( phasesInUse > 1 )\n            phaseCurrents[1] = msg.payload;\n        if( phasesInUse > 2 )\n            phaseCurrents[2] = msg.payload;\n        break;\n    case 2:\n        phaseCurrents[1] = msg.payload;\n        if( phasesInUse > 1 )\n            phaseCurrents[2] = msg.payload;\n        if( phasesInUse > 2 )\n            phaseCurrents[0] = msg.payload;\n        break;\n    case 3:\n        phaseCurrents[2] = msg.payload;\n        if( phasesInUse > 1 )\n            phaseCurrents[0] = msg.payload;\n        if( phasesInUse > 2 )\n            phaseCurrents[1] = msg.payload;\n        break;\n}\n\nflow.set(\"Lp_Strom1\", phaseCurrents[0]);\nflow.set(\"Lp_Strom2\", phaseCurrents[1]);\nflow.set(\"Lp_Strom3\", phaseCurrents[2]);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 540,
        "wires": [
            [
                "81a372ad.cdb6e"
            ]
        ]
    },
    {
        "id": "ac1252ea.719f6",
        "type": "comment",
        "z": "e79099a7.6c4608",
        "name": "Netzfrequenz",
        "info": "",
        "x": 150,
        "y": 780,
        "wires": []
    },
    {
        "id": "3d47f788.7e5508",
        "type": "random",
        "z": "e79099a7.6c4608",
        "name": "+/-0.1Hz",
        "low": "-0.1",
        "high": "0.1",
        "inte": "false",
        "property": "payload",
        "x": 360,
        "y": 780,
        "wires": [
            [
                "21237761.cc11d8"
            ]
        ]
    },
    {
        "id": "21237761.cc11d8",
        "type": "smooth",
        "z": "e79099a7.6c4608",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "5",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 560,
        "y": 780,
        "wires": [
            [
                "bbca034f.a1512"
            ]
        ]
    },
    {
        "id": "bbca034f.a1512",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Lp_Netzfrequenz",
                "pt": "flow",
                "to": "payload+$flowContext(\"Lp_NetzfrequenzNorm\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "32457352.264ecc",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Lp_NetzfrequenzNorm",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ac8ba84a.5cad88",
        "type": "change",
        "z": "e79099a7.6c4608",
        "name": "Init flow context",
        "rules": [
            {
                "t": "set",
                "p": "Lp_NetzfrequenzNorm",
                "pt": "flow",
                "to": "50",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "Lp_Netzfrequenz",
                "pt": "flow",
                "to": "50",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "Lp_Strom1",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "Lp_Strom2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "Lp_Strom2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "Lp_Spannung1",
                "pt": "flow",
                "to": "230",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "Lp_Spannung2",
                "pt": "flow",
                "to": "230",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "Lp_Spannung3",
                "pt": "flow",
                "to": "230",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "Lp_Ladeleistung",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ed1042a7.d2a4d",
        "type": "tab",
        "label": "Simulator 1.9",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8b1fa22c.174d5",
        "type": "group",
        "z": "ed1042a7.d2a4d",
        "name": "Ladepunkt 1",
        "style": {
            "label": true,
            "stroke": "#0070c0",
            "fill": "#0070c0",
            "fill-opacity": "0.25"
        },
        "nodes": [
            "5543079b.c33028",
            "83eccd9.a103b3",
            "eb2f1b6c.bace08",
            "7d1ddb3c.9bdc94",
            "8da52637.a1b598",
            "87802cee.e9d3",
            "b1ef403.6cd8dc",
            "94a67a30.dd22a8",
            "c282328.159dad",
            "d8fbe1d1.27beb",
            "f6d7f4f1.110498",
            "db07e222.3252e",
            "7ddb2cd5.3e59e4",
            "da9aeb75.c02788"
        ],
        "x": 14,
        "y": 759,
        "w": 1052,
        "h": 322
    },
    {
        "id": "9c5f6577.fa9a88",
        "type": "group",
        "z": "ed1042a7.d2a4d",
        "name": "Ladepunkt 3",
        "style": {
            "label": true,
            "stroke": "#0070c0",
            "fill": "#0070c0",
            "fill-opacity": "0.25"
        },
        "nodes": [
            "63316737.1b4b08",
            "fd84a8fd.0e9ea8",
            "56ddd191.79c4a",
            "c5c234e.fdc30c8",
            "56c52219.3335dc",
            "87f8b9bb.3b32a8",
            "75ff4b4a.0f7154",
            "ff39f41a.7dc5e8",
            "f43e80fd.fcb76",
            "db8720e.704e2e",
            "cc82df8f.a638e",
            "6f779739.74f638"
        ],
        "x": 14,
        "y": 1379,
        "w": 1052,
        "h": 262
    },
    {
        "id": "409dc27.8e1813c",
        "type": "group",
        "z": "ed1042a7.d2a4d",
        "name": "PV 1",
        "style": {
            "stroke": "#92d04f",
            "fill": "#92d04f",
            "fill-opacity": "0.25",
            "label": true
        },
        "nodes": [
            "6f3b9854.3702b8",
            "1fdac040.0dc41",
            "240c2eaa.b69132",
            "17636a5a.53cee6",
            "a0983728.4e3c88",
            "506599cf.ecd928",
            "e9bd3032.98103",
            "b05fe013.5dca9"
        ],
        "x": 14,
        "y": 259,
        "w": 1052,
        "h": 182
    },
    {
        "id": "89937c24.017f3",
        "type": "group",
        "z": "ed1042a7.d2a4d",
        "name": "EVU",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ff0000",
            "fill-opacity": "0.25",
            "label": true
        },
        "nodes": [
            "afcaae12.7c9c7",
            "ff07ee5a.2d038",
            "8669a7ad.c335c8",
            "8a3253e7.2e1ab",
            "1d5e4022.ee068",
            "6641d9e2.f4c148",
            "f4fa391f.d64058",
            "d90553f.4a68eb",
            "ea1ede26.ff7e8",
            "6b5f821.84de87c"
        ],
        "x": 14,
        "y": 19,
        "w": 1092,
        "h": 222
    },
    {
        "id": "a9e62a49.4fb318",
        "type": "group",
        "z": "ed1042a7.d2a4d",
        "name": "Ladepunkt 2",
        "style": {
            "label": true,
            "stroke": "#0070c0",
            "fill": "#0070c0",
            "fill-opacity": "0.25"
        },
        "nodes": [
            "93e78d7c.03375",
            "7d4d5631.7ceca8",
            "9b5614ec.5e1bb8",
            "af56aa92.ebe018",
            "2cc14632.57037a",
            "ae6b645c.4b2708",
            "7aed21f1.1398a",
            "5bbbda3.7568e24",
            "183dbacf.bdf4a5",
            "e0339ffb.8af9",
            "683f5ff.04739a",
            "299f332c.a5e8dc"
        ],
        "x": 14,
        "y": 1099,
        "w": 1052,
        "h": 262
    },
    {
        "id": "31295823.871358",
        "type": "group",
        "z": "ed1042a7.d2a4d",
        "name": "Speicher",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffC000",
            "fill-opacity": "0.25",
            "label": true
        },
        "nodes": [
            "d6ece862.ed3418",
            "b5832913.2c7f08",
            "1e3dbefb.865e61",
            "cc60b6cf.f08938",
            "4b604733.2eebe8",
            "599bf3bd.dce7ac",
            "a1975d67.3829a",
            "40c36572.5eab9c",
            "c9885851.ee9998",
            "94d7383b.a3abd8",
            "14b3c094.c4691f",
            "cb30a896.dcef68",
            "57527112.4b9b5",
            "5950d78b.0b2f78",
            "4fa0ee83.f4fd2",
            "66e24260.87fe9c"
        ],
        "x": 14,
        "y": 471.5,
        "w": 1092,
        "h": 269.5
    },
    {
        "id": "5543079b.c33028",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "1 Phase",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "/phasesInUse",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "8da52637.a1b598"
            ]
        ]
    },
    {
        "id": "83eccd9.a103b3",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "Abgesteckt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "/plugStat",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "87802cee.e9d3"
            ]
        ]
    },
    {
        "id": "eb2f1b6c.bace08",
        "type": "mqtt in",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "",
        "topic": "openWB/lp/1/AConfigured",
        "qos": "2",
        "datatype": "auto",
        "broker": "d1af1e10.a530b",
        "inputs": 0,
        "x": 150,
        "y": 800,
        "wires": [
            [
                "94a67a30.dd22a8",
                "d8fbe1d1.27beb"
            ]
        ]
    },
    {
        "id": "7d1ddb3c.9bdc94",
        "type": "mqtt out",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "broker": "d1af1e10.a530b",
        "x": 950,
        "y": 800,
        "wires": []
    },
    {
        "id": "8da52637.a1b598",
        "type": "ui_dropdown",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "Lp1 Phasen",
        "label": "Phasen",
        "tooltip": "",
        "place": "Select option",
        "group": "666edf39.70f41",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1 Phase",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2 Phasen",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3 Phasen",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "/phasesInUse",
        "x": 390,
        "y": 920,
        "wires": [
            [
                "d8fbe1d1.27beb"
            ]
        ]
    },
    {
        "id": "87802cee.e9d3",
        "type": "ui_switch",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "Lp1 Stecker",
        "label": "Stecker",
        "tooltip": "",
        "group": "666edf39.70f41",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/plugStat",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 980,
        "wires": [
            [
                "d8fbe1d1.27beb"
            ]
        ]
    },
    {
        "id": "b1ef403.6cd8dc",
        "type": "ui_text",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "group": "666edf39.70f41",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Lp1 Zähler",
        "label": "Zählerstand",
        "format": "{{msg.payload | number:3}} kW",
        "layout": "row-spread",
        "x": 970,
        "y": 860,
        "wires": []
    },
    {
        "id": "94a67a30.dd22a8",
        "type": "ui_text",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "group": "666edf39.70f41",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Lp1 Sollstrom",
        "label": "Soll-Strom",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "x": 400,
        "y": 860,
        "wires": []
    },
    {
        "id": "c282328.159dad",
        "type": "ui_gauge",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "Lp1 Leistung",
        "group": "666edf39.70f41",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Leistung",
        "label": "kW",
        "format": "{{value/1000 | number:1}}",
        "min": 0,
        "max": "22080",
        "colors": [
            "#00b500",
            "#00ff00",
            "#00b500"
        ],
        "seg1": "4140",
        "seg2": "7360",
        "x": 970,
        "y": 900,
        "wires": []
    },
    {
        "id": "d8fbe1d1.27beb",
        "type": "subflow:e79099a7.6c4608",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "LP1",
        "env": [],
        "x": 590,
        "y": 800,
        "wires": [
            [
                "f6d7f4f1.110498",
                "7d1ddb3c.9bdc94"
            ],
            [
                "da9aeb75.c02788"
            ]
        ]
    },
    {
        "id": "f6d7f4f1.110498",
        "type": "switch",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\/kWhCounter$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/W$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 860,
        "wires": [
            [
                "b1ef403.6cd8dc"
            ],
            [
                "c282328.159dad"
            ]
        ],
        "outputLabels": [
            "Zählerstand",
            "Leistung"
        ]
    },
    {
        "id": "93e78d7c.03375",
        "type": "ui_text",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "group": "5d340dc7.aaa584",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Lp2 Sollstrom",
        "label": "Soll-Strom",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "x": 400,
        "y": 1200,
        "wires": []
    },
    {
        "id": "7d4d5631.7ceca8",
        "type": "ui_dropdown",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "name": "Lp2 Phasen",
        "label": "Phasen",
        "tooltip": "",
        "place": "Select option",
        "group": "5d340dc7.aaa584",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1 Phase",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2 Phasen",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3 Phasen",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "/phasesInUse",
        "x": 390,
        "y": 1260,
        "wires": [
            [
                "7aed21f1.1398a"
            ]
        ]
    },
    {
        "id": "9b5614ec.5e1bb8",
        "type": "ui_switch",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "name": "Lp2 Stecker",
        "label": "Stecker",
        "tooltip": "",
        "group": "5d340dc7.aaa584",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/plugStat",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 1320,
        "wires": [
            [
                "7aed21f1.1398a"
            ]
        ]
    },
    {
        "id": "af56aa92.ebe018",
        "type": "mqtt in",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "name": "",
        "topic": "openWB/lp/2/AConfigured",
        "qos": "2",
        "datatype": "auto",
        "broker": "d1af1e10.a530b",
        "inputs": 0,
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "93e78d7c.03375",
                "7aed21f1.1398a"
            ]
        ]
    },
    {
        "id": "2cc14632.57037a",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "name": "1 Phase",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "/phasesInUse",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 1260,
        "wires": [
            [
                "7d4d5631.7ceca8"
            ]
        ]
    },
    {
        "id": "ae6b645c.4b2708",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "name": "Abgesteckt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "/plugStat",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "9b5614ec.5e1bb8"
            ]
        ]
    },
    {
        "id": "7aed21f1.1398a",
        "type": "subflow:e79099a7.6c4608",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "name": "LP2",
        "env": [
            {
                "name": "LPNumber",
                "value": "2",
                "type": "num"
            }
        ],
        "x": 590,
        "y": 1140,
        "wires": [
            [
                "e0339ffb.8af9",
                "683f5ff.04739a"
            ],
            [
                "299f332c.a5e8dc"
            ]
        ]
    },
    {
        "id": "5bbbda3.7568e24",
        "type": "ui_gauge",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "name": "Lp2 Leistung",
        "group": "5d340dc7.aaa584",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Leistung",
        "label": "kW",
        "format": "{{value/1000 | number:1}}",
        "min": 0,
        "max": "22080",
        "colors": [
            "#00b500",
            "#00ff00",
            "#00b500"
        ],
        "seg1": "4140",
        "seg2": "7360",
        "x": 970,
        "y": 1240,
        "wires": []
    },
    {
        "id": "183dbacf.bdf4a5",
        "type": "ui_text",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "group": "5d340dc7.aaa584",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Lp2 Zähler",
        "label": "Zählerstand",
        "format": "{{msg.payload | number:3}} kW",
        "layout": "row-spread",
        "x": 970,
        "y": 1200,
        "wires": []
    },
    {
        "id": "e0339ffb.8af9",
        "type": "mqtt out",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "broker": "d1af1e10.a530b",
        "x": 950,
        "y": 1140,
        "wires": []
    },
    {
        "id": "63316737.1b4b08",
        "type": "ui_text",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "group": "3900e271.6b849e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Lp3 Sollstrom",
        "label": "Soll-Strom",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "x": 400,
        "y": 1480,
        "wires": []
    },
    {
        "id": "fd84a8fd.0e9ea8",
        "type": "ui_dropdown",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "name": "Lp3 Phasen",
        "label": "Phasen",
        "tooltip": "",
        "place": "Select option",
        "group": "3900e271.6b849e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1 Phase",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2 Phasen",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3 Phasen",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "/phasesInUse",
        "x": 390,
        "y": 1540,
        "wires": [
            [
                "75ff4b4a.0f7154"
            ]
        ]
    },
    {
        "id": "56ddd191.79c4a",
        "type": "ui_switch",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "name": "Lp3 Stecker",
        "label": "Stecker",
        "tooltip": "",
        "group": "3900e271.6b849e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/plugStat",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 1600,
        "wires": [
            [
                "75ff4b4a.0f7154"
            ]
        ]
    },
    {
        "id": "c5c234e.fdc30c8",
        "type": "mqtt in",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "name": "",
        "topic": "openWB/lp/3/AConfigured",
        "qos": "2",
        "datatype": "auto",
        "broker": "d1af1e10.a530b",
        "inputs": 0,
        "x": 150,
        "y": 1420,
        "wires": [
            [
                "63316737.1b4b08",
                "75ff4b4a.0f7154"
            ]
        ]
    },
    {
        "id": "56c52219.3335dc",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "name": "1 Phase",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "/phasesInUse",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 1540,
        "wires": [
            [
                "fd84a8fd.0e9ea8"
            ]
        ]
    },
    {
        "id": "87f8b9bb.3b32a8",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "name": "Abgesteckt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "/plugStat",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "56ddd191.79c4a"
            ]
        ]
    },
    {
        "id": "75ff4b4a.0f7154",
        "type": "subflow:e79099a7.6c4608",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "name": "LP3",
        "env": [
            {
                "name": "LPNumber",
                "value": "3",
                "type": "num"
            }
        ],
        "x": 590,
        "y": 1420,
        "wires": [
            [
                "db8720e.704e2e",
                "cc82df8f.a638e"
            ],
            [
                "6f779739.74f638"
            ]
        ]
    },
    {
        "id": "ff39f41a.7dc5e8",
        "type": "ui_gauge",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "name": "Lp3 Leistung",
        "group": "3900e271.6b849e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Leistung",
        "label": "kW",
        "format": "{{value/1000 | number:1}}",
        "min": 0,
        "max": "22080",
        "colors": [
            "#00b500",
            "#00ff00",
            "#00b500"
        ],
        "seg1": "4140",
        "seg2": "7360",
        "x": 970,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f43e80fd.fcb76",
        "type": "ui_text",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "group": "3900e271.6b849e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Lp3 Zähler",
        "label": "Zählerstand",
        "format": "{{msg.payload | number:3}} kW",
        "layout": "row-spread",
        "x": 970,
        "y": 1480,
        "wires": []
    },
    {
        "id": "db8720e.704e2e",
        "type": "mqtt out",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "broker": "d1af1e10.a530b",
        "x": 950,
        "y": 1420,
        "wires": []
    },
    {
        "id": "683f5ff.04739a",
        "type": "switch",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\/kWhCounter$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/W$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 1200,
        "wires": [
            [
                "183dbacf.bdf4a5"
            ],
            [
                "5bbbda3.7568e24"
            ]
        ],
        "outputLabels": [
            "Zählerstand",
            "Leistung"
        ]
    },
    {
        "id": "cc82df8f.a638e",
        "type": "switch",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\/kWhCounter$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/W$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 1480,
        "wires": [
            [
                "f43e80fd.fcb76"
            ],
            [
                "ff39f41a.7dc5e8"
            ]
        ],
        "outputLabels": [
            "Zählerstand",
            "Leistung"
        ]
    },
    {
        "id": "db07e222.3252e",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "Netzfrequenz 50Hz",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "/HzFrequenz",
        "payload": "50",
        "payloadType": "num",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "7ddb2cd5.3e59e4"
            ]
        ]
    },
    {
        "id": "7ddb2cd5.3e59e4",
        "type": "ui_slider",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "Lp1 Netzfrequenz",
        "label": "Netzfrequenz",
        "tooltip": "",
        "group": "666edf39.70f41",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "/HzFrequenz",
        "min": "40",
        "max": "55",
        "step": "0.1",
        "x": 410,
        "y": 1040,
        "wires": [
            [
                "d8fbe1d1.27beb"
            ]
        ]
    },
    {
        "id": "afcaae12.7c9c7",
        "type": "mqtt out",
        "z": "ed1042a7.d2a4d",
        "g": "89937c24.017f3",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1af1e10.a530b",
        "x": 950,
        "y": 60,
        "wires": []
    },
    {
        "id": "ff07ee5a.2d038",
        "type": "ui_slider",
        "z": "ed1042a7.d2a4d",
        "g": "89937c24.017f3",
        "name": "",
        "label": "Hausverbrauch",
        "tooltip": "",
        "group": "4dbdd0b.484af3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "/Hausverbrauch",
        "min": 0,
        "max": "10000",
        "step": "100",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "d90553f.4a68eb"
            ]
        ]
    },
    {
        "id": "8669a7ad.c335c8",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "89937c24.017f3",
        "name": "1000 W",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "/Hausverbrauch",
        "payload": "1000",
        "payloadType": "num",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "ff07ee5a.2d038"
            ]
        ]
    },
    {
        "id": "8a3253e7.2e1ab",
        "type": "switch",
        "z": "ed1042a7.d2a4d",
        "g": "89937c24.017f3",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\/WhImported$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/WhExported$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/W$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 770,
        "y": 120,
        "wires": [
            [
                "f4fa391f.d64058"
            ],
            [
                "1d5e4022.ee068"
            ],
            [
                "6641d9e2.f4c148"
            ]
        ],
        "outputLabels": [
            "Zählerstand Import",
            "Zählerstand Export",
            "Leistung"
        ]
    },
    {
        "id": "1d5e4022.ee068",
        "type": "ui_text",
        "z": "ed1042a7.d2a4d",
        "g": "89937c24.017f3",
        "group": "4dbdd0b.484af3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "EVU Zähler Export",
        "label": "Zählerstand Exp.",
        "format": "{{value/1000 | number:3}} kWh",
        "layout": "row-spread",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "6641d9e2.f4c148",
        "type": "ui_gauge",
        "z": "ed1042a7.d2a4d",
        "g": "89937c24.017f3",
        "name": "EVU Leistung",
        "group": "4dbdd0b.484af3",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Leistung",
        "label": "kW",
        "format": "{{value/1000 | number:2}}",
        "min": "-10000",
        "max": "20000",
        "colors": [
            "#00ff00",
            "#ff0000",
            "#ff0000"
        ],
        "seg1": "0",
        "seg2": "0",
        "x": 980,
        "y": 200,
        "wires": []
    },
    {
        "id": "f4fa391f.d64058",
        "type": "ui_text",
        "z": "ed1042a7.d2a4d",
        "g": "89937c24.017f3",
        "group": "4dbdd0b.484af3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "EVU Zähler Import",
        "label": "Zählerstand Imp.",
        "format": "{{value/1000 | number:3}} kWh",
        "layout": "row-spread",
        "x": 990,
        "y": 120,
        "wires": []
    },
    {
        "id": "d90553f.4a68eb",
        "type": "subflow:e383a670.604ad8",
        "z": "ed1042a7.d2a4d",
        "g": "89937c24.017f3",
        "name": "EVU",
        "env": [],
        "x": 590,
        "y": 60,
        "wires": [
            [
                "afcaae12.7c9c7",
                "8a3253e7.2e1ab"
            ],
            [
                "6b5f821.84de87c"
            ]
        ],
        "outputLabels": [
            "openWB",
            "schnelle Regelwerte"
        ]
    },
    {
        "id": "ea1ede26.ff7e8",
        "type": "link in",
        "z": "ed1042a7.d2a4d",
        "g": "89937c24.017f3",
        "name": "EVU In",
        "links": [
            "4fa0ee83.f4fd2",
            "e9bd3032.98103",
            "da9aeb75.c02788",
            "299f332c.a5e8dc",
            "6f779739.74f638"
        ],
        "x": 355,
        "y": 60,
        "wires": [
            [
                "d90553f.4a68eb"
            ]
        ]
    },
    {
        "id": "d6ece862.ed3418",
        "type": "switch",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\/WhImported$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/WhExported$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/W$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/%Soc$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 770,
        "y": 600,
        "wires": [
            [
                "b5832913.2c7f08"
            ],
            [
                "1e3dbefb.865e61"
            ],
            [
                "cc60b6cf.f08938"
            ],
            [
                "4b604733.2eebe8"
            ]
        ],
        "outputLabels": [
            "Zählerstand Import",
            "Zählerstand Export",
            "Leistung",
            "SoC"
        ]
    },
    {
        "id": "b5832913.2c7f08",
        "type": "ui_text",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "group": "fac3c0b0.05401",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "BAT Zähler Import",
        "label": "Zählerstand Imp.",
        "format": "{{value/1000 | number:3}} kWh",
        "layout": "row-spread",
        "x": 990,
        "y": 580,
        "wires": []
    },
    {
        "id": "1e3dbefb.865e61",
        "type": "ui_text",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "group": "fac3c0b0.05401",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "BAT Zähler Export",
        "label": "Zählerstand Exp.",
        "format": "{{value/1000 | number:3}} kWh",
        "layout": "row-spread",
        "x": 990,
        "y": 620,
        "wires": []
    },
    {
        "id": "cc60b6cf.f08938",
        "type": "ui_gauge",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "BAT Leistung",
        "group": "fac3c0b0.05401",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Leistung",
        "label": "W",
        "format": "{{value}}",
        "min": "-5000",
        "max": "5000",
        "colors": [
            "#00ff00",
            "#ffff00",
            "#ff0000"
        ],
        "seg1": "0",
        "seg2": "0",
        "x": 970,
        "y": 660,
        "wires": []
    },
    {
        "id": "4b604733.2eebe8",
        "type": "ui_gauge",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "BAT SoC",
        "group": "fac3c0b0.05401",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "SoC",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff00"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 960,
        "y": 700,
        "wires": []
    },
    {
        "id": "599bf3bd.dce7ac",
        "type": "mqtt out",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "d1af1e10.a530b",
        "x": 950,
        "y": 520,
        "wires": []
    },
    {
        "id": "a1975d67.3829a",
        "type": "ui_slider",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "Ladestand",
        "label": "SoC",
        "tooltip": "",
        "group": "fac3c0b0.05401",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "/%Soc",
        "min": 0,
        "max": "100",
        "step": "5",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "57527112.4b9b5"
            ]
        ]
    },
    {
        "id": "40c36572.5eab9c",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "50% SoC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "/%Soc",
        "payload": "50",
        "payloadType": "num",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "a1975d67.3829a"
            ]
        ]
    },
    {
        "id": "c9885851.ee9998",
        "type": "ui_slider",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "",
        "label": "Max. Leistung",
        "tooltip": "",
        "group": "fac3c0b0.05401",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "/BatMaxPower",
        "min": 0,
        "max": "5000",
        "step": "100",
        "x": 400,
        "y": 640,
        "wires": [
            [
                "57527112.4b9b5"
            ]
        ]
    },
    {
        "id": "94d7383b.a3abd8",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "3300W Leistung",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "/BatMaxPower",
        "payload": "3300",
        "payloadType": "num",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "c9885851.ee9998"
            ]
        ]
    },
    {
        "id": "14b3c094.c4691f",
        "type": "ui_slider",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "",
        "label": "Kapazität",
        "tooltip": "",
        "group": "fac3c0b0.05401",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "/BatCapacity",
        "min": 0,
        "max": "15000",
        "step": "1000",
        "x": 380,
        "y": 700,
        "wires": [
            [
                "57527112.4b9b5"
            ]
        ]
    },
    {
        "id": "cb30a896.dcef68",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "5kWh Kapazität",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "/BatCapacity",
        "payload": "5000",
        "payloadType": "num",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "14b3c094.c4691f"
            ]
        ]
    },
    {
        "id": "57527112.4b9b5",
        "type": "subflow:c08766e3.967038",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "Bat",
        "env": [],
        "x": 590,
        "y": 520,
        "wires": [
            [
                "d6ece862.ed3418",
                "599bf3bd.dce7ac"
            ],
            [
                "4fa0ee83.f4fd2"
            ],
            [
                "5950d78b.0b2f78"
            ]
        ]
    },
    {
        "id": "5950d78b.0b2f78",
        "type": "ui_chart",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "",
        "group": "fac3c0b0.05401",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 770,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "4fa0ee83.f4fd2",
        "type": "link out",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "BAT out",
        "links": [
            "ea1ede26.ff7e8"
        ],
        "x": 735,
        "y": 660,
        "wires": []
    },
    {
        "id": "6b5f821.84de87c",
        "type": "link out",
        "z": "ed1042a7.d2a4d",
        "g": "89937c24.017f3",
        "name": "EVU Out",
        "links": [
            "66e24260.87fe9c"
        ],
        "x": 735,
        "y": 180,
        "wires": []
    },
    {
        "id": "66e24260.87fe9c",
        "type": "link in",
        "z": "ed1042a7.d2a4d",
        "g": "31295823.871358",
        "name": "BAT In",
        "links": [
            "6b5f821.84de87c"
        ],
        "x": 335,
        "y": 520,
        "wires": [
            [
                "57527112.4b9b5"
            ]
        ]
    },
    {
        "id": "da9aeb75.c02788",
        "type": "link out",
        "z": "ed1042a7.d2a4d",
        "g": "8b1fa22c.174d5",
        "name": "LP1 out",
        "links": [
            "ea1ede26.ff7e8"
        ],
        "x": 735,
        "y": 920,
        "wires": []
    },
    {
        "id": "299f332c.a5e8dc",
        "type": "link out",
        "z": "ed1042a7.d2a4d",
        "g": "a9e62a49.4fb318",
        "name": "LP2 out",
        "links": [
            "ea1ede26.ff7e8"
        ],
        "x": 735,
        "y": 1260,
        "wires": []
    },
    {
        "id": "6f779739.74f638",
        "type": "link out",
        "z": "ed1042a7.d2a4d",
        "g": "9c5f6577.fa9a88",
        "name": "LP3 out",
        "links": [
            "ea1ede26.ff7e8"
        ],
        "x": 735,
        "y": 1540,
        "wires": []
    },
    {
        "id": "6f3b9854.3702b8",
        "type": "mqtt out",
        "z": "ed1042a7.d2a4d",
        "g": "409dc27.8e1813c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "d1af1e10.a530b",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "1fdac040.0dc41",
        "type": "ui_slider",
        "z": "ed1042a7.d2a4d",
        "g": "409dc27.8e1813c",
        "name": "",
        "label": "PV-Leistung",
        "tooltip": "",
        "group": "c4efabd7.fbcb98",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "/W",
        "min": 0,
        "max": "10000",
        "step": "100",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "506599cf.ecd928"
            ]
        ]
    },
    {
        "id": "240c2eaa.b69132",
        "type": "switch",
        "z": "ed1042a7.d2a4d",
        "g": "409dc27.8e1813c",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "\\/WhCounter$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "\\/W$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 360,
        "wires": [
            [
                "17636a5a.53cee6"
            ],
            [
                "a0983728.4e3c88"
            ]
        ],
        "outputLabels": [
            "Zählerstand",
            "Leistung"
        ]
    },
    {
        "id": "17636a5a.53cee6",
        "type": "ui_text",
        "z": "ed1042a7.d2a4d",
        "g": "409dc27.8e1813c",
        "group": "c4efabd7.fbcb98",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "PV Zähler",
        "label": "Zählerstand",
        "format": "{{value/1000 | number:3}} kWh",
        "layout": "row-spread",
        "x": 960,
        "y": 360,
        "wires": []
    },
    {
        "id": "a0983728.4e3c88",
        "type": "ui_gauge",
        "z": "ed1042a7.d2a4d",
        "g": "409dc27.8e1813c",
        "name": "PV Leistung",
        "group": "c4efabd7.fbcb98",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Leistung",
        "label": "kW",
        "format": "{{value/1000 | number:2}}",
        "min": 0,
        "max": "-10000",
        "colors": [
            "#00b500",
            "#00ff00",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 400,
        "wires": []
    },
    {
        "id": "506599cf.ecd928",
        "type": "subflow:9170cbc1.d91068",
        "z": "ed1042a7.d2a4d",
        "g": "409dc27.8e1813c",
        "name": "PV1",
        "env": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "6f3b9854.3702b8",
                "240c2eaa.b69132"
            ],
            [
                "e9bd3032.98103"
            ]
        ]
    },
    {
        "id": "e9bd3032.98103",
        "type": "link out",
        "z": "ed1042a7.d2a4d",
        "g": "409dc27.8e1813c",
        "name": "PV out",
        "links": [
            "ea1ede26.ff7e8"
        ],
        "x": 735,
        "y": 400,
        "wires": []
    },
    {
        "id": "b05fe013.5dca9",
        "type": "inject",
        "z": "ed1042a7.d2a4d",
        "g": "409dc27.8e1813c",
        "name": "1500 W",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "/W",
        "payload": "1500",
        "payloadType": "num",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "1fdac040.0dc41"
            ]
        ]
    },
    {
        "id": "d1af1e10.a530b",
        "type": "mqtt-broker",
        "name": "openWB-Display",
        "broker": "openwb-test",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "666edf39.70f41",
        "type": "ui_group",
        "name": "LP1",
        "tab": "3bb16d58.338a32",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5d340dc7.aaa584",
        "type": "ui_group",
        "name": "LP2",
        "tab": "3bb16d58.338a32",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3900e271.6b849e",
        "type": "ui_group",
        "name": "LP3",
        "tab": "3bb16d58.338a32",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4dbdd0b.484af3",
        "type": "ui_group",
        "name": "EVU",
        "tab": "3bb16d58.338a32",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fac3c0b0.05401",
        "type": "ui_group",
        "name": "Speicher",
        "tab": "3bb16d58.338a32",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c4efabd7.fbcb98",
        "type": "ui_group",
        "name": "PV",
        "tab": "3bb16d58.338a32",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3bb16d58.338a32",
        "type": "ui_tab",
        "name": "Simulator 1.9",
        "icon": "fa-plug",
        "disabled": false,
        "hidden": false
    }
]